include AUTHORS
include INSTALL
include CHANGELOG.rst
include LICENSE
include MANIFEST.in
recursive-include meringue *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
