include AUTHORS
include CHANGELOG.md
include INSTALL
include LICENSE
include MANIFEST.in
include README.md
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
recursive-include docs *
recursive-include meringue *
