{% extends "base.html" %}

{% load static i18n %}


{% block title %}{% trans 'ошибка' %} 404 :: {{ SITE_NAME }}{% endblock %}

{% block extrahead %}
	<link type="text/css" rel="stylesheet" href="{% static 'css/weboven::main.css' %}" >
{% endblock %}

{% block content %}<div class="error_list error404">
	<p class="error_number_line" >{% trans 'ошибка' %} <span class="error_number" >404</span></p>
	<p class="error_text" >такой страницы не существует, попробуйте начать <a href="/">сначала</a> или вернитесь <a href="{{ request.META.HTTP_REFERER }}">назад</a></p>
</div>{% endblock %}
